form
  background-color: #000
  color: #fff
  text-align: center
  h3
    font-size: 30px
    line-height: 1
    margin-bottom: 15px
  p
    font-size: 18px
    margin-bottom: 40px
  label
    display: block
    margin-bottom: 0
  input, textarea
    width: 100%
    line-height: 1
    font-size: 16px
    //font-weight: 300
    background-color: transparent
    color: #fff
    border: none
    border-bottom: 1px solid #fff
    padding: 12px 0
    &::placeholder
      color: #fff
    &.error
      color: red!important
      border-color: red!important
      &::placeholder
        color: red!important
  .help-block
    display: none!important


.body-form
  background-repeat: no-repeat
  background-image: url('../img/bg-form-1.jpg')
  padding: 60px 70px 85px
  .form-labels-wrap
    display: flex
    justify-content: space-between
    align-items: flex-end
  .btn
    width: 155px
  label
    width: calc((100% - 155px)/3 - 30px)

.popup-form
  padding: 50px
  color: #000
  background-color: #fff
  display: block
  position: relative
  width: 100%
  max-width: 600px
  border: 1px solid #000
  margin-left: auto
  margin-right: auto
  input
    color: #000
    border-bottom: 1px solid #000
    &::placeholder
      color: #000
  label
    margin-bottom: 15px
  .btn-wrap
    margin-top: 30px
  .btn
    padding: 12px 30px
  &.greeting
    padding: 70px
    p
      margin-bottom: 0

.simple-form
  background-color: #fff
  margin-top: 50px
  input, textarea
    color: rgba(#000, .6)
    border-color: rgba(#000, .6)
    padding: 8px 0
    &::placeholder
      color: rgba(#000, .6)
    &:focus
      color: #000
      border-color: #000
  label
    margin-bottom: 15px
  textarea
    height: 75px
    resize: none
  .btn
    width: 100%
    padding: 18px


//MY_MFP_ZOOM_IN
.my-mfp-zoom-in
  .zoom-anim-dialog, .popup-form
    opacity: 0
    transition: all 0.5s ease-in-out
    transform: scale(0.7)
  &.mfp-ready .zoom-anim-dialog, &.mfp-ready .popup-form
    opacity: 1
    transform: scale(1)
  &.mfp-removing .zoom-anim-dialog, &.mfp-removing .popup-form
    transform: scale(0.7)
    opacity: 0
  &.mfp-bg
    opacity: 0
    transition: opacity 0.5s ease-out
  &.mfp-ready.mfp-bg
    opacity: .9
  &.mfp-removing.mfp-bg
    opacity: 0





